@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "antd/dist/reset.css";


* {
  font-family: 'Inter', sans-serif !important;
}

.ant-carousel .slick-arrow {
  color: #474747!important;
  border-color: #474747 !important;
}

.ant-carousel .slick-arrow:before {
  color: #474747 !important;
}



.ant-carousel .slick-slide {
  
  height: 570px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 20px !important;
}

.slide-wrapper {
  height: 700px;
  width: 570px;
   padding: 0 !important;
  margin: 0 !important;
}
 .buyboxtitle{
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  
}
.slick-list {
  border-radius: 5px;
}

* {
  font-family: 'Inter', sans-serif !important;
  font-weight: 700 !important;
}

.slick-dots li button {
  background: #FFC0CB !important;   /* cor rosa */
  border-radius: 50% !important;    /* formato bolinha */
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  border: none !important;
}

.slick-dots li.slick-active button {
  background: #d31e6f !important;   /* rosa mais escuro para o ativo */
  border: 2px solid #d31e6f !important;
}