@import "tailwindcss";
@import "antd/dist/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.ant-carousel .slick-arrow {
  color: #474747!important;
  border-color: #474747 !important;
}

.ant-carousel .slick-arrow:before {
  color: #474747 !important;
}



.ant-carousel .slick-slide {
  
  height: 570px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 20px !important;
}

.slide-wrapper {
  height: 700px;
  width: 570px;
   padding: 0 !important;
  margin: 0 !important;
}
 .buyboxtitle{
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  
}
.slick-list {
  border-radius: 5px;
}